data/preflib/*.dat
data/preflib/*.wmd
data/abraham2006/*.dat
data/abraham2006/*.wmd
data/abraham2006/*.dat
data/abraham2006/*.wmd
data/sparse/*.dat
data/sparse/*.wmd
data/heterogeneous/*.dat
data/heterogeneous/*.wmd
example/*.jl
*.zip
